* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.font-montserret {
	font-family: 'Montserrat', sans-serif;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.font-avenir {
	font-family: 'Avenir', sans-serif;
}
